<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.redhat.com/en/technologies/device-edge" target="_blank"><img
          src="{{uiRootPath}}/img/header_logo.png" height="50px" alt="Red Hat Device Edge"></a>
      <a class="navbar-item" style="color:white;font-size: 1.5rem" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Repos</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/fedora-iot/fido-device-onboard-rs" target="_blank">Fedora/RHEL FDO implementation</a>
            <a class="navbar-item" href="https://github.com/luisarizmendi/rhel-edge-quickstart" target="_blank">RHEL OSTree quickstart scripts</a>
            <a class="navbar-item" href="https://github.com/ansible-collections/community.fdo" target="_blank">FDO Ansible Collection</a>
            <a class="navbar-item" href="https://github.com/redhat-cop/infra.osbuild" target="_blank">Image Builder Ansible Collection</a>

          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Docs</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://fidoalliance.org/specs/FDO/FIDO-Device-Onboard-RD-v1.0-20201202.html" target="_blank">FDO Specification</a>
            <a class="navbar-item" href="https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/9/html/composing_installing_and_managing_rhel_for_edge_images/index" target="_blank">Red Hat documentation for RHEL OSTree</a>
            <a class="navbar-item" href="https://cloud.redhat.com/blog/introducing-the-new-red-hat-device-edge" target="_blank">Introducing Device Edge (RH Blog)</a>
            <a class="navbar-item" href="https://medium.com/@luis-javier-arizmendi-alonso/a-git-like-linux-operating-system-d84211e97933" target="_blank">RHEL OSTree article (Medium)</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Videos</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://youtu.be/jIZL4dnKYjo" target="_blank">Carlos Torres video about this lab</a>
            <a class="navbar-item" href="https://access.redhat.com/articles/5719641" target="_blank">RHEL OSTree demos</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Red Hat internal</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.google.com/presentation/d/1FKQDHrleCPuE0e36UekzXdkw86wNDx16dSgllXj-swY/edit?usp=sharing" target="_blank">Red Hat Device Edge slide deck</a>
            <a class="navbar-item" href="https://drive.google.com/file/d/1DFSlbOYiMwnqqtUNU90dNGZClSGC0f3G/view?usp=share_link" target="_blank">FDO presentation video</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">More Tutorials</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://redhat-scholars.github.io/openshift-starter-guides/rhs-openshift-starter-guides/4.9/index.html" target="_blank">OpenShift</a>
            <a class="navbar-item" href="https://redhat-scholars.github.io/acs-workshop/acs-workshop/index.html" target="_blank">ACM</a>
            <a class="navbar-item" href="https://olleb.com/quay-workshop/" target="_blank">Quay</a>
            <a class="navbar-item" href="https://redhat-scholars.github.io/kubernetes-tutorial/" target="_blank">Kubernetes</a>
            <a class="navbar-item" href="https://redhat-scholars.github.io/istio-tutorial/" target="_blank">Istio</a>
            <a class="navbar-item" href="https://redhat-developer-demos.github.io/quarkus-tutorial/" target="_blank">Quarkus</a>
            <a class="navbar-item" href="https://redhat-developer-demos.github.io/knative-tutorial/" target="_blank">Knative</a>
            <a class="navbar-item" href="https://redhat-scholars.github.io/tekton-tutorial/" target="_blank">Tekton</a>
            <a class="navbar-item" href="https://olleb.com/rhsso-workshop/" target="_blank">RHSSO</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>