<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.redhat.com/en/technologies/device-edge" target="_blank"><img
          src="{{uiRootPath}}/assets/images/Device-Edge-logo.png" height="40px" alt="Red Hat Device Edge"></a>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/luisarizmendi/rhel-edge-quickstart" target="_blank">RHEL OSTree quickstart scripts</a>
        <a class="navbar-item" href="https://docs.google.com/presentation/d/1FKQDHrleCPuE0e36UekzXdkw86wNDx16dSgllXj-swY/edit?usp=sharing" target="_blank">Red Hat Device Edge slides</a>
        <a class="navbar-item" href="https://medium.com/@luis-javier-arizmendi-alonso/edge-computing-device-onboarding-part-i-introducing-the-challenge-59add9a86200" target="_blank">FDO article series</a>
        <a class="navbar-item" href="https://medium.com/@luis-javier-arizmendi-alonso/a-git-like-linux-operating-system-d84211e97933" target="_blank">RHEL OSTree article</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">More Red Hat Tutorials</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://redhat-scholars.github.io/openshift-starter-guides/rhs-openshift-starter-guides/4.9/index.html" target="_blank">OpenShift</a>
            <a class="navbar-item" href="https://redhat-scholars.github.io/kubernetes-tutorial/" target="_blank">Kubernetes</a>
            <a class="navbar-item" href="https://redhat-scholars.github.io/istio-tutorial/" target="_blank">Istio</a>
            <a class="navbar-item" href="https://redhat-developer-demos.github.io/quarkus-tutorial/" target="_blank">Quarkus</a>
            <a class="navbar-item" href="https://redhat-developer-demos.github.io/knative-tutorial/" target="_blank">Knative</a>
            <a class="navbar-item" href="https://redhat-scholars.github.io/tekton-tutorial/" target="_blank">Tekton</a>
          </div>
      </div>
    </div>
  </nav>
</header>